.card {
  width: 300px;
  height: 90px;
  background: #232323;
  box-shadow: 0 1px 25px rgba(70, 70, 70, 0.6);
  border-radius: 5px;
  padding: 12px 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 30px 60px;
  align-items: center;
  font-size: 12px;
}

.card_load {
  grid-row: 1 / 3;
}

.card_load img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/*    RESPONSIVE 354PX    */

@media screen and (max-width: 354px) {
  .card {
    width: 280px;
  }
}
