.contenedor-servicios {
  height: 500px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedor-titulo {
  margin: 0.3rem 0 2rem 0;
  font-size: 15px;
  padding: 0 100px;
}

.servicios-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 90px 90px;
  gap: 45px;
  justify-content: center;
  align-items: center;
}

.contenedor-portafolio {
  height: 500px;
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portafolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: 1fr;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

/*    RESPONSIVE 1260PX   */

@media screen and (max-width: 1260px) {
  .contenedor-portafolio {
    height: 800px;
  }

  .portafolio-grid {
    grid-template-columns: repeat(2, 280px);
  }
}

/*    RESPONSIVE 1060PX   */

@media screen and (max-width: 1060px) {
  .contenedor-servicios {
    height: 600px;
  }

  .servicios-grid {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto;
  }
}

/*    RESPONSIVE 700PX    */

@media screen and (max-width: 700px) {
  .contenedor-servicios {
    height: 980px;
  }

  .servicios-grid {
    grid-template-columns: 300px;
    gap: 30px;
  }
}

/*    RESPONSIVE 604PX    */

@media screen and (max-width: 604px) {
  .contenedor-portafolio {
    height: 1500px;
  }

  .portafolio-grid {
    grid-template-columns: 280px;
  }
}

/*    RESPONSIVE 489PX    */

@media screen and (max-width: 489px) {
  .contenedor-titulo {
    padding: 0 40px;
  }
}
